<?xml version="1.0"?>
<snippets>
<branch title="Espaces">
<leaf title="Espace (SP)" type="insert"><before> </before><after/></leaf>
<leaf title="Espace insécable (NBSP)" type="insert"><before>፡</before><after/></leaf>
<leaf title="Espace éthiopienne" type="insert"><before> </before><after/></leaf>
<leaf title="Espace d'ogam" type="insert"><before> </before><after/></leaf>
<leaf title="Espace demi-CADRATIN" type="insert"><before> </before><after/></leaf>
<leaf title="Espace cadratin" type="insert"><before> </before><after/></leaf>
<leaf title="Espace tiers de cadratin" type="insert"><before> </before><after/></leaf>
<leaf title="Espace quart de cadratin" type="insert"><before> </before><after/></leaf>
<leaf title="Espace sixième de cadratin" type="insert"><before> </before><after/></leaf>
<leaf title="Espace tabulaire" type="insert"><before> </before><after/></leaf>
<leaf title="Espace ponctuation" type="insert"><before> </before><after/></leaf>
<leaf title="Espace fine" type="insert"><before> </before><after/></leaf>
<leaf title="Espace ultrafine" type="insert"><before></before><after/></leaf>
<leaf title="Espace sans chasse (ZWSP)" type="insert"><before> </before><after/></leaf>
<leaf title="Espace insécable étroite (NNBSP)" type="insert"><before> </before><after/></leaf>
<leaf title="Espace moyenne mathématique (MMSP)" type="insert"><before>␈</before><after/></leaf>
<leaf title="Symbole pour espace arrière" type="insert"><before>␠</before><after/></leaf>
<leaf title="Symbole pour espace" type="insert"><before>␢</before><after/></leaf>
<leaf title="Symbole visuel pour l'espace" type="insert"><before>　</before><after/></leaf>
</branch>
</snippets>
