<?xml version="1.0"?>
<snippets>
  <branch title="html tag attributes">
    <leaf title="accept" tooltip="valid: &lt;form&gt; &lt;input&gt; "><before>accept="</before><after>" </after>
<!-- List of types the server accepts, typically a file type. -->
    </leaf>
    <leaf title="accept-charset" tooltip="valid: &lt;form&gt; "><before>accept-charset="</before><after>" </after>
<!-- List of supported charsets. -->
    </leaf>
    <leaf title="accesskey" tooltip="valid: >Global attribute"><before>accesskey="</before><after>" </after>
<!-- Keyboard shortcut to activate or add focus to the element. -->
    </leaf>
    <leaf title="action" tooltip="valid: &lt;form&gt; "><before>action="</before><after>" </after>
<!-- The URI of a program that processes the information submitted via the form. -->
    </leaf>
    <leaf title="align" tooltip="valid: &lt;applet&gt; &lt;caption&gt; &lt;col&gt; &lt;colgroup&gt; &lt;hr&gt; &lt;iframe&gt; &lt;img&gt; &lt;table&gt; &lt;tbody&gt; &lt;td&gt; &lt;tfoot&gt;, &lt;th&gt; &lt;thead&gt; &lt;tr&gt; "><before>align="</before><after>" </after>
<!-- Specifies the horizontal alignment of the element. -->
    </leaf>
    <leaf title="allow" tooltip="valid: &lt;iframe&gt; "><before>allow="</before><after>" </after>
<!-- Specifies a feature-policy for the iframe. -->
    </leaf>
    <leaf title="alt" tooltip="valid: &lt;applet&gt; &lt;area&gt; &lt;img&gt; &lt;input&gt; "><before>alt="</before><after>" </after>
<!-- Alternative text in case an image can't be displayed. -->
    </leaf>
    <leaf title="async" tooltip="valid: &lt;script&gt; "><before>async="</before><after>" </after>
<!-- Executes the script asynchronously. -->
    </leaf>
    <leaf title="autocapitalize" tooltip="valid: >Global attribute"><before>autocapitalize="</before><after>" </after>
<!-- Sets whether input is automatically capitalized when entered by user -->
    </leaf>
    <leaf title="autocomplete" tooltip="valid: &lt;form&gt; &lt;input&gt; &lt;select&gt; &lt;textarea&gt; "><before>autocomplete="</before><after>" </after>
<!-- Indicates whether controls in this form can by default have their values automatically completed by the browser. -->
    </leaf>
    <leaf title="autofocus" tooltip="valid: &lt;button&gt; &lt;input&gt; &lt;keygen&gt; &lt;select&gt; &lt;textarea&gt; "><before>autofocus="</before><after>" </after>
<!-- The element should be automatically focused after the page loaded. -->
    </leaf>
    <leaf title="autoplay" tooltip="valid: &lt;audio&gt; &lt;video&gt; "><before>autoplay="</before><after>" </after>
<!-- The audio or video should play as soon as possible. -->
    </leaf>
    <leaf title="background" tooltip="valid: &lt;body&gt; &lt;table&gt; &lt;td&gt; &lt;th&gt; "><before>background="</before><after>" </after>
<!-- Specifies the URL of an image file.<div class="note notecard"> <p> <strong>Note:</strong> Although browsers and email clients may still support this attribute, it is obsolete. Use CSS background-image instead.</p></div> -->
    </leaf>
    <leaf title="bgcolor" tooltip="valid: &lt;body&gt; &lt;col&gt; &lt;colgroup&gt; &lt;marquee&gt; &lt;table&gt; &lt;tbody&gt; &lt;tfoot&gt; &lt;td&gt; &lt;th&gt; &lt;tr&gt; "><before>bgcolor="</before><after>" </after>
<!-- <p>Background color of the element.</p> <div class="note notecard"> <p> <strong>Note:</strong> This is a legacy attribute. Please use the CSS background-color property instead.</p></div> -->
    </leaf>
    <leaf title="border" tooltip="valid: &lt;img&gt; &lt;object&gt; &lt;table&gt; "><before>border="</before><after>" </after>
<!-- <p>The border width.</p> <div class="note notecard"> <p> <strong>Note:</strong> This is a legacy attribute. Please use the CSS border property instead.</p></div> -->
    </leaf>
    <leaf title="buffered" tooltip="valid: &lt;audio&gt; &lt;video&gt; "><before>buffered="</before><after>" </after>
<!-- Contains the time range of already buffered media. -->
    </leaf>
    <leaf title="capture" tooltip="valid: &lt;input&gt; "><before>capture="</before><after>" </after>
<!-- From the Media Capture specification, specifies a new file can be captured. -->
    </leaf>
    <leaf title="challenge" tooltip="valid: &lt;keygen&gt; "><before>challenge="</before><after>" </after>
<!-- A challenge string that is submitted along with the public key. -->
    </leaf>
    <leaf title="charset" tooltip="valid: &lt;meta&gt; &lt;script&gt; "><before>charset="</before><after>" </after>
<!-- Declares the character encoding of the page or script. -->
    </leaf>
    <leaf title="checked" tooltip="valid: &lt;command&gt; &lt;input&gt; "><before>checked="</before><after>" </after>
<!-- Indicates whether the element should be checked on page load. -->
    </leaf>
    <leaf title="cite" tooltip="valid: &lt;blockquote&gt; &lt;del&gt; &lt;ins&gt; &lt;q&gt; "><before>cite="</before><after>" </after>
<!-- Contains a URI which points to the source of the quote or change. -->
    </leaf>
    <leaf title="class" tooltip="valid: >Global attribute"><before>class="</before><after>" </after>
<!-- Often used with CSS to style elements with common properties. -->
    </leaf>
    <leaf title="code" tooltip="valid: &lt;applet&gt; "><before>code="</before><after>" </after>
<!-- Specifies the URL of the applet's class file to be loaded and executed. -->
    </leaf>
    <leaf title="codebase" tooltip="valid: &lt;applet&gt; "><before>codebase="</before><after>" </after>
<!-- This attribute gives the absolute or relative URL of the directory where applets' .class files referenced by the code attribute are stored. -->
    </leaf>
    <leaf title="color" tooltip="valid: &lt;basefont&gt; &lt;font&gt; &lt;hr&gt; "><before>color="</before><after>" </after>
<!-- <p> This attribute sets the text color using either a named color or a color specified in the hexadecimal #RRGGBB format.</p> <div class="note notecard"> <p> <strong>Note:</strong> This is a legacy attribute. Please use the CSS color property instead.</p></div> -->
    </leaf>
    <leaf title="cols" tooltip="valid: &lt;textarea&gt; "><before>cols="</before><after>" </after>
<!-- Defines the number of columns in a textarea. -->
    </leaf>
    <leaf title="colspan" tooltip="valid: &lt;td&gt; &lt;th&gt; "><before>colspan="</before><after>" </after>
<!-- The colspan attribute defines the number of columns a cell should span. -->
    </leaf>
    <leaf title="content" tooltip="valid: &lt;meta&gt; "><before>content="</before><after>" </after>
<!-- A value associated with http-equiv or name depending on the context. -->
    </leaf>
    <leaf title="contenteditable" tooltip="valid: >Global attribute"><before>contenteditable="</before><after>" </after>
<!-- Indicates whether the element's content is editable. -->
    </leaf>
    <leaf title="contextmenu" tooltip="valid: >Global attribute"><before>contextmenu="</before><after>" </after>
<!-- Defines the ID of a &lt;menu&gt; element which will serve as the element's context menu. -->
    </leaf>
    <leaf title="controls" tooltip="valid: &lt;audio&gt; &lt;video&gt; "><before>controls="</before><after>" </after>
<!-- Indicates whether the browser should show playback controls to the user. -->
    </leaf>
    <leaf title="coords" tooltip="valid: &lt;area&gt; "><before>coords="</before><after>" </after>
<!-- A set of values specifying the coordinates of the hot-spot region. -->
    </leaf>
    <leaf title="crossorigin" tooltip="valid: &lt;audio&gt; &lt;img&gt; &lt;link&gt; &lt;script&gt; &lt;video&gt; "><before>crossorigin="</before><after>" </after>
<!-- How the element handles cross-origin requests -->
    </leaf>
    <leaf title="csp" tooltip="experimental, valid: &lt;iframe&gt; "><before>csp="</before><after>" </after>
<!-- Specifies the Content Security Policy that an embedded document must agree to enforce upon itself. -->
    </leaf>
    <leaf title="data" tooltip="valid: &lt;object&gt; "><before>data="</before><after>" </after>
<!-- Specifies the URL of the resource. -->
    </leaf>
    <leaf title="data-*" tooltip="valid: >Global attribute"><before>data-*="</before><after>" </after>
<!-- Lets you attach custom attributes to an HTML element. -->
    </leaf>
    <leaf title="datetime" tooltip="valid: &lt;del&gt; &lt;ins&gt; &lt;time&gt; "><before>datetime="</before><after>" </after>
<!-- Indicates the date and time associated with the element. -->
    </leaf>
    <leaf title="decoding" tooltip="valid: &lt;img&gt; "><before>decoding="</before><after>" </after>
<!-- Indicates the preferred method to decode the image. -->
    </leaf>
    <leaf title="default" tooltip="valid: &lt;track&gt; "><before>default="</before><after>" </after>
<!-- Indicates that the track should be enabled unless the user's preferences indicate something different. -->
    </leaf>
    <leaf title="defer" tooltip="valid: &lt;script&gt; "><before>defer="</before><after>" </after>
<!-- Indicates that the script should be executed after the page has been parsed. -->
    </leaf>
    <leaf title="dir" tooltip="valid: >Global attribute"><before>dir="</before><after>" </after>
<!-- Defines the text direction. Allowed values are ltr (Left-To-Right) or rtl (Right-To-Left) -->
    </leaf>
    <leaf title="dirname" tooltip="valid: &lt;input&gt; &lt;textarea&gt; "><before>dirname="</before><after>" </after>
    </leaf>
    <leaf title="disabled" tooltip="valid: &lt;button&gt; &lt;command&gt; &lt;fieldset&gt; &lt;input&gt; &lt;keygen&gt; &lt;optgroup&gt; &lt;option&gt; &lt;select&gt; &lt;textarea&gt; "><before>disabled="</before><after>" </after>
<!-- Indicates whether the user can interact with the element. -->
    </leaf>
    <leaf title="download" tooltip="valid: &lt;a&gt; &lt;area&gt; "><before>download="</before><after>" </after>
<!-- Indicates that the hyperlink is to be used for downloading a resource. -->
    </leaf>
    <leaf title="draggable" tooltip="valid: >Global attribute"><before>draggable="</before><after>" </after>
<!-- Defines whether the element can be dragged. -->
    </leaf>
    <leaf title="enctype" tooltip="valid: &lt;form&gt; "><before>enctype="</before><after>" </after>
<!-- Defines the content type of the form data when the method is POST. -->
    </leaf>
    <leaf title="enterkeyhint" tooltip="experimental, valid: &lt;textarea&gt; contenteditable "><before>enterkeyhint="</before><after>" </after>
<!-- The enterkeyhint specifies what action label (or icon) to present for the enter key on virtual keyboards. The attribute can be used with form controls (such as the value of textarea elements), or in elements in an editing host (e.g., using contenteditable attribute). -->
    </leaf>
    <leaf title="for" tooltip="valid: &lt;label&gt; &lt;output&gt; "><before>for="</before><after>" </after>
<!-- Describes elements which belongs to this one. -->
    </leaf>
    <leaf title="form" tooltip="valid: &lt;button&gt; &lt;fieldset&gt; &lt;input&gt; &lt;keygen&gt; &lt;label&gt; &lt;meter&gt; &lt;object&gt; &lt;output&gt; &lt;progress&gt; &lt;select&gt; &lt;textarea&gt; "><before>form="</before><after>" </after>
<!-- Indicates the form that is the owner of the element. -->
    </leaf>
    <leaf title="formaction" tooltip="valid: &lt;input&gt; &lt;button&gt; "><before>formaction="</before><after>" </after>
<!-- Indicates the action of the element, overriding the action defined in the &lt;form&gt; . -->
    </leaf>
    <leaf title="formenctype" tooltip="valid: &lt;button&gt; &lt;input&gt; "><before>formenctype="</before><after>" </after>
<!-- If the button/input is a submit button ( type="submit" ), this attribute sets the encoding type to use during form submission. If this attribute is specified, it overrides the enctype attribute of the button'sform owner. -->
    </leaf>
    <leaf title="formmethod" tooltip="valid: &lt;button&gt; &lt;input&gt; "><before>formmethod="</before><after>" </after>
<!-- If the button/input is a submit button ( type="submit" ), this attribute sets the submission method to use during form submission ( GET, POST, etc.). If this attribute is specified, it overrides the method attribute of the button's form owner. -->
    </leaf>
    <leaf title="formnovalidate" tooltip="valid: &lt;button&gt; &lt;input&gt; "><before>formnovalidate="</before><after>" </after>
<!-- If the button/input is a submit button ( type="submit" ), this boolean attribute specifies that the form is not to be validated when it is submitted. If this attribute is specified, it overrides the novalidate attribute of the button'sform owner. -->
    </leaf>
    <leaf title="formtarget" tooltip="valid: &lt;button&gt; &lt;input&gt; "><before>formtarget="</before><after>" </after>
<!-- If the button/input is a submit button ( type="submit" ), this attribute specifies the browsing context (for example, tab, window, or inline frame) in which to display the response that is received after submitting the form. If this attribute is specified, it overrides the target attribute of the button'sform owner. -->
    </leaf>
    <leaf title="headers" tooltip="valid: &lt;td&gt; &lt;th&gt; "><before>headers="</before><after>" </after>
<!-- IDs of the &lt;th&gt; elements which applies to this element. -->
    </leaf>
    <leaf title="height" tooltip="valid: &lt;canvas&gt; &lt;embed&gt; &lt;iframe&gt; &lt;img&gt; &lt;input&gt; &lt;object&gt; &lt;video&gt; "><before>height="</before><after>" </after>
<!-- <p> Specifies the height of elements listed here. For all other elements, use the CSS height property.</p> <div class="note notecard"> <p> <strong>Note:</strong> In some instances, such as &lt;div&gt;, this is a legacy attribute, in which case the CSS height property should be used instead.</p></div> -->
    </leaf>
    <leaf title="hidden" tooltip="valid: >Global attribute"><before>hidden="</before><after>" </after>
<!-- Prevents rendering of given element, while keeping child elements, e.g. script elements, active. -->
    </leaf>
    <leaf title="high" tooltip="valid: &lt;meter&gt; "><before>high="</before><after>" </after>
<!-- Indicates the lower bound of the upper range. -->
    </leaf>
    <leaf title="href" tooltip="valid: &lt;a&gt; &lt;area&gt; &lt;base&gt; &lt;link&gt; "><before>href="</before><after>" </after>
<!-- The URL of a linked resource. -->
    </leaf>
    <leaf title="hreflang" tooltip="valid: &lt;a&gt; &lt;area&gt; &lt;link&gt; "><before>hreflang="</before><after>" </after>
<!-- Specifies the language of the linked resource. -->
    </leaf>
    <leaf title="http-equiv" tooltip="valid: &lt;meta&gt; "><before>http-equiv="</before><after>" </after>
<!-- Defines a pragma directive. -->
    </leaf>
    <leaf title="icon" tooltip="valid: &lt;command&gt; "><before>icon="</before><after>" </after>
<!-- Specifies a picture which represents the command. -->
    </leaf>
    <leaf title="id" tooltip="valid: >Global attribute"><before>id="</before><after>" </after>
<!-- Often used with CSS to style a specific element. The value of this attribute must be unique. -->
    </leaf>
    <leaf title="importance" tooltip="experimental, valid: &lt;iframe&gt; &lt;img&gt; &lt;link&gt; &lt;script&gt; "><before>importance="</before><after>" </after>
<!-- Indicates the relative fetch priority for the resource. -->
    </leaf>
    <leaf title="integrity" tooltip="valid: &lt;link&gt; &lt;script&gt; "><before>integrity="</before><after>" </after>
<!-- <p> Specifies aSubresource Integrity value that allows browsers to verify what they fetch.</p> -->
    </leaf>

    <leaf title="inputmode" tooltip="valid: &lt;textarea&gt; contenteditable "><before>inputmode="</before><after>" </after>
<!-- Provides a hint as to the type of data that might be entered by the user while editing the element or its contents. The attribute can be used with form controls (such as the value of textarea elements), or in elements in an editing host (e.g., using contenteditable attribute). -->
    </leaf>
    <leaf title="ismap" tooltip="valid: &lt;img&gt; "><before>ismap="</before><after>" </after>
<!-- Indicates that the image is part of a server-side image map. -->
    </leaf>
    <leaf title="itemprop" tooltip="valid: >Global attribute"><before>itemprop="</before><after>" </after>
    </leaf>
    <leaf title="keytype" tooltip="valid: &lt;keygen&gt; "><before>keytype="</before><after>" </after>
<!-- Specifies the type of key generated. -->
    </leaf>
    <leaf title="kind" tooltip="valid: &lt;track&gt; "><before>kind="</before><after>" </after>
<!-- Specifies the kind of text track. -->
    </leaf>
    <leaf title="label" tooltip="valid: &lt;optgroup&gt; &lt;option&gt; &lt;track&gt; "><before>label="</before><after>" </after>
<!-- Specifies a user-readable title of the element. -->
    </leaf>
    <leaf title="lang" tooltip="valid: >Global attribute"><before>lang="</before><after>" </after>
<!-- Defines the language used in the element. -->
    </leaf>

    <leaf title="loading" tooltip="experimental, valid: &lt;img&gt; &lt;iframe&gt; "><before>loading="</before><after>" </after>
<!-- Indicates if the element should be loaded lazily ( loading="lazy" ) or loaded immediately ( loading="eager" ). -->
    </leaf>
    <leaf title="list" tooltip="valid: &lt;input&gt; "><before>list="</before><after>" </after>
<!-- Identifies a list of pre-defined options to suggest to the user. -->
    </leaf>
    <leaf title="loop" tooltip="valid: &lt;audio&gt; &lt;bgsound&gt; &lt;marquee&gt; &lt;video&gt; "><before>loop="</before><after>" </after>
<!-- Indicates whether the media should start playing from the start when it's finished. -->
    </leaf>
    <leaf title="low" tooltip="valid: &lt;meter&gt; "><before>low="</before><after>" </after>
<!-- Indicates the upper bound of the lower range. -->
    </leaf>
    <leaf title="max" tooltip="valid: &lt;input&gt; &lt;meter&gt; &lt;progress&gt; "><before>max="</before><after>" </after>
<!-- Indicates the maximum value allowed. -->
    </leaf>
    <leaf title="maxlength" tooltip="valid: &lt;input&gt; &lt;textarea&gt; "><before>maxlength="</before><after>" </after>
<!-- Defines the maximum number of characters allowed in the element. -->
    </leaf>
    <leaf title="minlength" tooltip="valid: &lt;input&gt; &lt;textarea&gt; "><before>minlength="</before><after>" </after>
<!-- Defines the minimum number of characters allowed in the element. -->
    </leaf>
    <leaf title="media" tooltip="valid: &lt;a&gt; &lt;area&gt; &lt;link&gt; &lt;source&gt; &lt;style&gt; "><before>media="</before><after>" </after>
<!-- Specifies a hint of the media for which the linked resource was designed. -->
    </leaf>
    <leaf title="method" tooltip="valid: &lt;form&gt; "><before>method="</before><after>" </after>
<!-- Defines which HTTP method to use when submitting the form. Can be GET (default) or POST . -->
    </leaf>
    <leaf title="min" tooltip="valid: &lt;input&gt; &lt;meter&gt; "><before>min="</before><after>" </after>
<!-- Indicates the minimum value allowed. -->
    </leaf>
    <leaf title="multiple" tooltip="valid: &lt;input&gt; &lt;select&gt; "><before>multiple="</before><after>" </after>
<!-- Indicates whether multiple values can be entered in an input of the type email or file . -->
    </leaf>
    <leaf title="muted" tooltip="valid: &lt;audio&gt; &lt;video&gt; "><before>muted="</before><after>" </after>
<!-- Indicates whether the audio will be initially silenced on page load. -->
    </leaf>
    <leaf title="name" tooltip="valid: &lt;button&gt; &lt;form&gt; &lt;fieldset&gt; &lt;iframe&gt; &lt;input&gt; &lt;keygen&gt; &lt;object&gt; &lt;output&gt; &lt;select&gt; &lt;textarea&gt; &lt;map&gt; &lt;meta&gt; &lt;param&gt; "><before>name="</before><after>" </after>
<!-- Name of the element. For example used by the server to identify the fields in form submits. -->
    </leaf>
    <leaf title="novalidate" tooltip="valid: &lt;form&gt; "><before>novalidate="</before><after>" </after>
<!-- This attribute indicates that the form shouldn't be validated when submitted. -->
    </leaf>
    <leaf title="open" tooltip="valid: &lt;details&gt; &lt;dialog&gt; "><before>open="</before><after>" </after>
<!-- Indicates whether the the contents are currently visible (in the case of a &lt;details&gt; element) or whether the dialog is active and can be interacted with (in the case of a &lt;dialog&gt; element). -->
    </leaf>
    <leaf title="optimum" tooltip="valid: &lt;meter&gt; "><before>optimum="</before><after>" </after>
<!-- Indicates the optimal numeric value. -->
    </leaf>
    <leaf title="pattern" tooltip="valid: &lt;input&gt; "><before>pattern="</before><after>" </after>
<!-- Defines a regular expression which the element's value will be validated against. -->
    </leaf>
    <leaf title="ping" tooltip="valid: &lt;a&gt; &lt;area&gt; "><before>ping="</before><after>" </after>
<!-- The ping attribute specifies a space-separated list of URLs to be notified if a user follows the hyperlink. -->
    </leaf>
    <leaf title="placeholder" tooltip="valid: &lt;input&gt; &lt;textarea&gt; "><before>placeholder="</before><after>" </after>
<!-- Provides a hint to the user of what can be entered in the field. -->
    </leaf>
    <leaf title="poster" tooltip="valid: &lt;video&gt; "><before>poster="</before><after>" </after>
<!-- A URL indicating a poster frame to show until the user plays or seeks. -->
    </leaf>
    <leaf title="preload" tooltip="valid: &lt;audio&gt; &lt;video&gt; "><before>preload="</before><after>" </after>
<!-- Indicates whether the whole resource, parts of it or nothing should be preloaded. -->
    </leaf>
    <leaf title="radiogroup" tooltip="valid: &lt;command&gt; "><before>radiogroup="</before><after>" </after>
    </leaf>
    <leaf title="readonly" tooltip="valid: &lt;input&gt; &lt;textarea&gt; "><before>readonly="</before><after>" </after>
<!-- Indicates whether the element can be edited. -->
    </leaf>
    <leaf title="referrerpolicy" tooltip="valid: &lt;a&gt; &lt;area&gt; &lt;iframe&gt; &lt;img&gt; &lt;link&gt; &lt;script&gt; "><before>referrerpolicy="</before><after>" </after>
<!-- Specifies which referrer is sent when fetching the resource. -->
    </leaf>
    <leaf title="rel" tooltip="valid: &lt;a&gt; &lt;area&gt; &lt;link&gt; "><before>rel="</before><after>" </after>
<!-- Specifies the relationship of the target object to the link object. -->
    </leaf>
    <leaf title="required" tooltip="valid: &lt;input&gt; &lt;select&gt; &lt;textarea&gt; "><before>required="</before><after>" </after>
<!-- Indicates whether this element is required to fill out or not. -->
    </leaf>
    <leaf title="reversed" tooltip="valid: &lt;ol&gt; "><before>reversed="</before><after>" </after>
<!-- Indicates whether the list should be displayed in a descending order instead of a ascending. -->
    </leaf>
    <leaf title="rows" tooltip="valid: &lt;textarea&gt; "><before>rows="</before><after>" </after>
<!-- Defines the number of rows in a text area. -->
    </leaf>
    <leaf title="rowspan" tooltip="valid: &lt;td&gt; &lt;th&gt; "><before>rowspan="</before><after>" </after>
<!-- Defines the number of rows a table cell should span over. -->
    </leaf>
    <leaf title="sandbox" tooltip="valid: &lt;iframe&gt; "><before>sandbox="</before><after>" </after>
<!-- Stops a document loaded in an iframe from using certain features (such as submitting forms or opening new windows). -->
    </leaf>
    <leaf title="scope" tooltip="valid: &lt;th&gt; "><before>scope="</before><after>" </after>
<!-- Defines the cells that the header test (defined in the th element) relates to. -->
    </leaf>

    <leaf title="selected" tooltip="valid: &lt;option&gt; "><before>selected="</before><after>" </after>
<!-- Defines a value which will be selected on page load. -->
    </leaf>
    <leaf title="shape" tooltip="valid: &lt;a&gt; &lt;area&gt; "><before>shape="</before><after>" </after>
    </leaf>
    <leaf title="size" tooltip="valid: &lt;input&gt; &lt;select&gt; "><before>size="</before><after>" </after>
<!-- Defines the width of the element (in pixels). If the element's type attribute is text or password then it's the number of characters. -->
    </leaf>
    <leaf title="sizes" tooltip="valid: &lt;link&gt; &lt;img&gt; &lt;source&gt; "><before>sizes="</before><after>" </after>
    </leaf>
    <leaf title="slot" tooltip="valid: >Global attribute"><before>slot="</before><after>" </after>
<!-- Assigns a slot in a shadow DOM shadow tree to an element. -->
    </leaf>
    <leaf title="span" tooltip="valid: &lt;col&gt; &lt;colgroup&gt; "><before>span="</before><after>" </after>
    </leaf>
    <leaf title="spellcheck" tooltip="valid: >Global attribute"><before>spellcheck="</before><after>" </after>
<!-- Indicates whether spell checking is allowed for the element. -->
    </leaf>
    <leaf title="src" tooltip="valid: &lt;audio&gt; &lt;embed&gt; &lt;iframe&gt; &lt;img&gt; &lt;input&gt; &lt;script&gt; &lt;source&gt; &lt;track&gt; &lt;video&gt; "><before>src="</before><after>" </after>
<!-- The URL of the embeddable content. -->
    </leaf>
    <leaf title="srcdoc" tooltip="valid: &lt;iframe&gt; "><before>srcdoc="</before><after>" </after>
    </leaf>
    <leaf title="srclang" tooltip="valid: &lt;track&gt; "><before>srclang="</before><after>" </after>
    </leaf>
    <leaf title="srcset" tooltip="valid: &lt;img&gt; &lt;source&gt; "><before>srcset="</before><after>" </after>
<!-- One or more responsive image candidates. -->
    </leaf>
    <leaf title="start" tooltip="valid: &lt;ol&gt; "><before>start="</before><after>" </after>
<!-- Defines the first number if other than 1. -->
    </leaf>
    <leaf title="step" tooltip="valid: &lt;input&gt; "><before>step="</before><after>" </after>
    </leaf>
    <leaf title="style" tooltip="valid: >Global attribute"><before>style="</before><after>" </after>
<!-- Defines CSS styles which will override styles previously set. -->
    </leaf>

    <leaf title="tabindex" tooltip="valid: >Global attribute"><before>tabindex="</before><after>" </after>
<!-- Overrides the browser's default tab order and follows the one specified instead. -->
    </leaf>
    <leaf title="target" tooltip="valid: &lt;a&gt; &lt;area&gt; &lt;base&gt; &lt;form&gt; "><before>target="</before><after>" </after>
<!-- Specifies where to open the linked document (in the case of an &lt;a&gt; element) or where to display the response received (in the case of a &lt;form&gt; element) -->
    </leaf>
    <leaf title="title" tooltip="valid: >Global attribute"><before>title="</before><after>" </after>
<!-- Text to be displayed in a tooltip when hovering over the element. -->
    </leaf>
    <leaf title="translate" tooltip="valid: >Global attribute"><before>translate="</before><after>" </after>
<!-- Specify whether an element’s attribute values and the values of its Text node children are to be translated when the page is localized, or whether to leave them unchanged. -->
    </leaf>
    <leaf title="type" tooltip="valid: &lt;button&gt; &lt;input&gt; &lt;command&gt; &lt;embed&gt; &lt;object&gt; &lt;script&gt; &lt;source&gt; &lt;style&gt; &lt;menu&gt; &lt;link&gt; "><before>type="</before><after>" </after>
<!-- Defines the type of the element. -->
    </leaf>
    <leaf title="usemap" tooltip="valid: &lt;img&gt; &lt;input&gt; &lt;object&gt; "><before>usemap="</before><after>" </after>
    </leaf>
    <leaf title="value" tooltip="valid: &lt;button&gt; &lt;data&gt; &lt;input&gt; &lt;li&gt; &lt;meter&gt; &lt;option&gt; &lt;progress&gt; &lt;param&gt; "><before>value="</before><after>" </after>
<!-- Defines a default value which will be displayed in the element on page load. -->
    </leaf>
    <leaf title="width" tooltip="valid: &lt;canvas&gt; &lt;embed&gt; &lt;iframe&gt; &lt;img&gt; &lt;input&gt; &lt;object&gt; &lt;video&gt; "><before>width="</before><after>" </after>
<!-- <p>For the elements listed here, this establishes the element's width.</p> <div class="note notecard"> <p> <strong>Note:</strong> For all other instances, such as &lt;div&gt;, this is a legacy attribute, in which case the CSS width property should be used instead.</p></div> -->
    </leaf>
    <leaf title="wrap" tooltip="valid: &lt;textarea&gt; "><before>wrap="</before><after>" </after>
<!-- Indicates whether the text should be wrapped. -->
    </leaf>
  </branch>
</snippets>
	
